body {
	padding-top: 50px;
	color: #959595;
	}
	
h1 { color: rgb(18, 18, 70);}


h2 ,h3, h4, h5, h6 {
	color: black;
	}
	
.feature {
	padding: 30px 0;
    background-image: url(hg.jpg);
	background-repeat: repeat-x;
    color: rgb(0, 0, 0);
	}

#feature-carousel {
	min-height: 250px;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-image: url(hg.jpg);
	background-repeat: repeat-x;
    color: rgb(0, 0, 0);
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.feature,
.page-intro,
.article-intro,
.footer-blurb,
.small-print {
	text-align: center;
	}